Source: szn-mapnik-vector-tile
Maintainer: Jiri Drbalek <jiri.drbalek@firma.seznam.cz>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
    debhelper (>= 9),
    szn-libmapnik-dev (>= 3:3.9.0),
    szn-libmapbox-variant-dev,
    szn-libmapbox-geometry-dev,
    szn-libwagyu-dev,
    szn-libprotozero-dev,
    libprotobuf-dev,
    protobuf-compiler

Package: szn-mapnik-vector-tile-dev
Section: libdevel
Architecture: amd64
Depends: ${misc:Depends}, szn-libmapnik-dev (>= 3:3.9.0)
Description: Mapnik implemention of Mapbox Vector Tile specification 

Package: szn-mapnik-vector-tile-utils
Section: utils
Architecture: amd64
Depends: ${misc:Depends}
Description: Utilities for manipulation with Mapbox Vector Tiles
